*{
    padding: 0px;
    margin: 0px;
}
.col-lg-10{
    margin-left: 10%;
    
    margin-top: 2%;
}



header{
    background-color: rgb(108, 219, 132);
    height: 50px;
}
.head-tag a{
    float: right;
    margin-top: 10px;
    margin-right: 55px;
}
.head-tag a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: white;
   
}

.head-tag-search{
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    color: rgb(10, 10, 39);
    border: 3px solid white;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white;
    text-decoration: none;

}
.head-tag-search input{
    
    text-align: center;
}





.districts a{
    text-decoration: none;
    color: black;
}

.districts {
    margin-left: 5%;
    margin-top: 3%;
}

.district{
    margin-left: 50%;
}

/*footer*/
footer{
    background-color: rgb(108, 219, 132);
    color: black;
    text-align: center;
    margin-top: 1%;
    
}
